body {
	background:#F5F5F5
}
.table {
	background:#fff
}
.page-header {

	margin-top :80px;
	margin-left:20px;
	border-bottom:none;
	padding-bottom:5px
}
h1 {
	}
h2.service {
	background:#F4F5F7;
	font-size:1.8em;
	padding:8px
}
.navbar-inverse
{
  background-color: #00325F;
  border-top-color: #080808;
  border-right-color: #080808;
  border-bottom-color: #080808;
  border-left-color: #080808;

}

.navbar-inverse .navbar-nav > .active > a
{
  color: #ffffff;
  background-color: #041E42;
}
.navbar-inverse .navbar-nav  > li >a
 {
	color:#fff
}
.navbar-inverse .navbar-brand
{
  color: #fff;
}
table.service-details th {
	width:150px
}
.content-box {
	background:#fff;
	padding:1px 10px 0;
	border-top:1px solid #ddd
}
.cat-panel {
	
	border-top:8px solid #041E42;
	min-height:80px;
	 box-shadow: 0px 4px 6px -5px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.1);
	 margin:0 10px 20px;
	 background:#fff
	

}
.cat-body {
 min-height:70px
 }
.panel-heading {
padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  }
h3.panel-heading {
font-size:1.4em;
margin-top:0;

}
h3.panel-heading a {
 color: #283239;
  text-decoration-line: none;
  text-decoration-style: solid;
  
}
.clear {
	clear:both
}
.service-sidebar {
background:#fff;
margin-top:80px;
border-top:1px solid #ddd;
padding:10px;
min-height:200px
}