{% extends 'scat/base.html' %}

{% block content %}
{% regroup services by category as category_list %}
{% for category in category_list %}

<div class="page-header">
	
      <h1>{{ category.grouper }}</h1>
    </div>
  
 
 <div class="row">


  <div class="col-md-12">


<table class="table">
<tr><th>Name</th><th>Description</th><th>Provider</th></tr>


   
{% for service in category.list %}
   
<tr><td><a href="{% url 'service_detail' pk=service.pk %}">{{ service.title }}</a></td>

<td>{{ service.description }}</td>
<td>{{ service.provider }}</td>
      
</tr>

{% endfor %}

{% endfor %}

</table>
    </div>
    </div>
{% endblock %}