{% extends 'scat/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-12">
 <div class="page-header">
	<!---{% if user.is_authenticated %}
	<a href="{% url 'service_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}-->
       <h1>Service Catalogue</h1>
    </div>
    


<div class="row">
{% for cat in cats %}
  <div class="col-md-3"><div style="backround:URL({% static 'images' %}/{{ cat.image }}" class="cat-panel">{{ cat.category }} </div></div>
   {% if forloop.last %}
</div>
{% else %}
     {% if forloop.counter|divisibleby:"4" %}
</div>
<div class="row">
     {% endif %}
   {% endif %}
{% endfor %}
</div>

 <div class="service-list">
	<table class="table table-striped">
	 <tr><th>Name</th><th>Category</th><th>Description</th><th>Provider</th></tr>

{% for cat in cats %}
 <tr><td><a href="{% url 'category_service' pk=cat.pk %}">{{ cat.category }}</a></td>
 
	 <td></td>
	
       <!-- <p>{{ service.description|linebreaks }}</p>-->
	</tr>

{% endfor %}


</table>
    </div>
    </div>
{% endblock %}
	
	