{% extends 'scat/base.html' %}

{% block content %}
    <div class="col-md-12">
 <div class="page-header">

       <h1>People</h1>
    </div>

 <div class="service-list">
	<table class="table table-striped">
	 <tr><th>Name</th><th>Department</th><th>Telephone</th><th>Email</th></tr>

{% for person in people %}

     
     <tr><td><a href="{% url 'people_detail' pk=person.pk %}">{{ person.name }}</a></td>
	 <td>{{ person.department }}</td>
	 <td>{{ person.telephone }}</td>
	<td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
     
	</tr>

{% endfor %}


</table>
    </div>
    </div>
{% endblock %}
	