{% extends 'scat/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="page-header">
	
       <h1>Service Catalogue</h1>
    </div>
    

   
   
 

<div class="row">
{% for portfolio  in portfolios %}
  <div class="col-md-3"><div  class="cat-panel"><a href="{% url 'portfolio_service_list' pk=portfolio.pk %}"></a>
 <div class="cat-body"> <h3 class="panel-heading"><a href="{% url 'portfolio_service_list' pk=portfolio.pk %}">{{ portfolio.name }}</a></h3></div></div></div>
   {% if forloop.last %}
</div>
{% else %}
     {% if forloop.counter|divisibleby:"4" %}
</div>
<div class="row">
     {% endif %}
   {% endif %}
{% endfor %}
</div>

 
 
{% endblock %}
	
	