{% extends 'scat/base.html' %}

{% block content %}

{% regroup services by category as category_list %}
  <div class="page-header">
	
      <h1>{{ portfolio.name }}</h1>
    </div>
   <div class="row">


  <div class="col-md-12">
  
{% for category in category_list %}




<h2>{{category.grouper }}</h2>




   <ul class="list-group">
{% for service in category.list %}
   
<li class="list-group-item"><a href="{% url 'service_detail' pk=service.pk %}"><strong>{{ service.name }}</strong></a></li>



{% endfor %}
</ul>
{% endfor %}


    </div>
    </div>
{% endblock %}