{% extends 'scat/base.html' %}

{% block content %}
    <div class="service">
        {% if service.published_date %}
          <!--  <div class="date">
                {{ service.published_date }}
            </div>-->
        {% endif %}
        <h2>{{ service.title }}</h2>
        <table class="table">
        <th>Description</th><td>{{ service.description|linebreaks }}</td></tr>
        <th>Category</th><td>{{ service.category|linebreaks }}</td></tr>
         </table>
    </div>
{% endblock %}