{% extends 'scat/base.html' %}
{% load staticfiles %}


{% block content %}
<div class="page-header">
	       <h1 class="service">{{ service.title }}</h1>
    </div>
 <div class="col-md-12">

    <div class="service">
        {% if service.published_date %}
          <!--  <div class="date">
                {{ service.published_date }}
            </div>-->
        {% endif %}
       <h2 class="service">Service Details</h2>
        <table class="table service-details">
        <tr><th>Description</th><td>{{ service.description }}</td></tr>
        <tr><th>Category</th><td>{{ service.category }}</td></tr>
		<tr><th>Status</th><td>{{ service.status }}</td></tr>
		<tr><th>Provider</th><td>{{ service.provider }}</td></tr>
         </table>
		 <h2 class="service">Support</h2>
		 <table class="table service-details">
        <tr><th>Documentation</th><td>
        {% if service.documentation %}
        <a href="{{ service.documentation }}">{{ service.documentation }}</a>
        {% endif %}</td></tr>
         <tr><th>First Line</th><td>{{ service.support }}</td></tr>
          
       
         </table>
		 <h2 class="service">Accountability</h2>
		 <div class="content-box">
		 <h3>Service Owner</h3>
		
		 <div class="media ">
		 {% if service.service_owner.image %}
  <div class="pull-left">
  
      <img class="media-object thumbnail" style="width:120px" src="/media/{{ service.service_owner.image }}" alt="Photo of {{service.service_owner}}">
  
  </div>
  {% endif %}
  <div class="media-body">
    <h4 style="margin-bottom:10px" class="media-heading">{{ service.service_owner }}</h4>
	<p>Email: <a href="mailto:{{ service.service_owner.email }}">{{ service.service_owner.email }}</a></p>
	<p>Phone: {{ service.service_owner.telephone }}</p>
	<p>Dept: {{ service.service_owner.department }}</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
		 
    </div>
    
     </div>
        
		
       
{% endblock %}